In [2]:
import fasttext
model = fasttext.load_model('lid.176.ftz')
print(model.predict('الشمس تشرق', k=1))  # top 2 matching languages

(('__label__ar',), array([0.98124713]))

In [3]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()
model.predict('今一はお前さん')

(('__label__ja',), array([0.99440062]))

In [59]:
journal_df = pd.read_csv("titleFile.csv",comment="#").rename(columns={"(year1)[volume1]issue1,issue2,issue3(year2)[volume2]issue4,issues5":"yearissues"})
journal_df = journal_df.dropna(subset=['JournalTitle'])

In [60]:
journal_df.head()

,JournalTitle,JournalID,Publisher,pissn,eissn,additionalIssns,doi,yearissues
0,ACTUALITĂŢI ŞI PERSPECTIVE ÎN DOMENIUL MAŞINIL...,378722,Universitatea Politechnica din Bucuresti,18435912,18435912,NaN,10.36801/apme,(2014)[2014](2015)[2015](2016)[2016](2017)[201...
1,Analele Universității din Craiova seria Psihol...,469174,University of Craiova,1582313X,26686678,NaN,10.52846/AUCPP,"""(2022)[44]1,2(2023)[45]1()[]"""
2,Annals of the University of Craiova - Agricult...,465848,University of Craiova,NaN,18418317,NaN,10.52846/AAMC,"""(2020)[51]1,2(2022)[52]1(2023)[52]1,2[53]1,2(..."
3,Arterial’naya Gipertenziya (Arterial Hypertens...,296095,Arterialnaya Gipertenziya,1607419X,24118524,NaN,NaN,"""(2003)[9]1,2,3,4,5,6(2004)[10]1,2,3(2005)[11]..."
4,Austin Journal of Analytical and Pharmaceutica...,501623,Austin Publishing Group,NaN,NaN,NaN,10.26420/austinjanalpharmchem,(2022)[9]3()[]

In [61]:
journal_df[journal_df["JournalTitle"]=="Cell"]

,JournalTitle,JournalID,Publisher,pissn,eissn,additionalIssns,doi,yearissues
17094,Cell,2421,Elsevier,00928674,NaN,NaN,NaN,"""(1973)[5]4(1974)[1]1,2,3,4[2]1,2,3,4[3]1,2,3,..."

In [62]:
def detect_lang(x):
    try:
        return model.predict(x)[0][0].split("__")[-1]
    except:
        return "unknown"

In [63]:
x = journal_df.iloc[17094]['JournalTitle']
print(x)
detect_lang(x)

Cell

'en'

In [64]:
journal_df["language"]  = journal_df["JournalTitle"].progress_apply(detect_lang)

100%|██████████| 125820/125820 [00:00<00:00, 143071.91it/s]

In [65]:
journal_df["language"].value_counts()

language
en     85568
id      7150
es      6070
de      6049
fr      3630
       ...
jbo        1
mt         1
an         1
my         1
als        1
Name: count, Length: 121, dtype: int64

In [66]:
journal_df[journal_df["language"] == "id"]

,JournalTitle,JournalID,Publisher,pissn,eissn,additionalIssns,doi,yearissues,language
16,LAWSUIT Jurnal Perpajakan,466227,Universitas Serang Raya,NaN,28280709,NaN,NaN,"""(2022)[1]1,2(2023)[2]1,2""",id
53,(JEMS) Jurnal Entrepreneur dan Manajemen Sains,474746,Universitas Muhammadiyah Bengkulu,NaN,27215415,NaN,NaN,"""(2020)[1]1,2(2021)[2]1,2[3]1[](2022)[3]1,2(20...",id
56,(JPAP) Jurnal Praktisi Administrasi Pendidikan,423841,Universitas Mataram,25486233,25486241,NaN,NaN,(2016)[1]1(2021)[5]1,id
57,(Jurnal Ilmiah Mahasiswa Kesehatan Masyarakat),379894,Fakultas Kesehatan Masyarakat Universitas Halu...,NaN,2502731X,NaN,NaN,"""(2020)[5]1,2,3,4(2021)[6]1,2,3,4(2022)[7]1,2,...",id
82,100 Hari Pimpinan Daerah Dewan Masjid Indonesi...,479548,PubPub,NaN,NaN,NaN,10.21428/9bc1b34a,(2022)[]()[],id
...,...,...,...,...,...,...,...,...,...
122566,Zoonotic Diseases,460446,MDPI AG,NaN,28130227,NaN,NaN,"""(2021)[1]1(2022)[2]1,2,3,4(2023)[3]1,2,3,4[4]...",id
122590,Zuriah Jurnal Pendidikan Anak Usia Dini,396775,STAIN Curup,27460797,27460800,NaN,NaN,"""(2020)[1]1,2(2021)[2]1,2(2022)[3]1,2(2023)[4]...",id
122647,`A Jamiy Jurnal Bahasa dan Sastra Arab,363357,Universitas Muhammadiyah Gorontalo,22529926,26572206,NaN,10.31314/ajamiy,"""(2019)[6]2[7]1,2[8]1,2(2020)[9]1,2(2021)[10]1...",id
122648,Jurnal Abdi Masyarakat Multidisiplin,467890,Asosiasi Dosen Muda Indonesia,28290887,28290496,NaN,NaN,"""(2022)[1]1,2,3[2]1(2023)[2]1,2,3""",id
124753,لســـانـنــا (LISANUNA) Jurnal Ilmu Bahasa Ara...,310288,Universitas Islam Negeri Ar-Raniry,23545577,25492802,NaN,NaN,"""(2017)[7]1,2(2018)[7]2[8]1(2019)[8]2[9]1(2020...",id

In [67]:
journal_df[journal_df["language"] == "unknown"]

Empty DataFrame
Columns: [JournalTitle, JournalID, Publisher, pissn, eissn, additionalIssns, doi, yearissues, language]
Index: []

In [68]:
journal_df[journal_df["JournalTitle"]=="Molecular Cell"]

,JournalTitle,JournalID,Publisher,pissn,eissn,additionalIssns,doi,yearissues,language
81436,Molecular Cell,2418,Elsevier,10972765,NaN,NaN,NaN,"""(1997)[1]1(1998)[1]2,3,4,5,6,7[2]1,2,3,4,5,6(...",en

In [69]:
journal_df[journal_df["language"] == "en"].to_csv("english_journal.csv",index=False)

In [70]:
journal_df2 = pd.read_csv("english_journal.csv")

In [74]:
q1 = "Publisher=='Sight and Life Foundation'"
journal_df2.query(q1).to_csv("sight_and_life.csv",index=False)
q2 = "(yearissues.isnull() or yearissues=='[]')"
journal_df2.query(f"not {q1} and {q2}",engine="python").to_csv("no_year.csv",index=False)

In [ ]:
journal_df2.query(f"not {q1} and not {q2}",engine="python").to_csv("english_journal2.csv",index=False)

In [15]:
journal_df3 = pd.read_csv("english_journal_edited.csv").drop_duplicates(subset=['JournalTitle']).set_index("JournalTitle")
journal_df3.loc["Molecular Cell"]

JournalID                                                       2418
Publisher                                                  Elsevier
pissn                                                       10972765
eissn                                                            NaN
additionalIssns                                                  NaN
doi                                                              NaN
yearissues         "(1997)[1]1(1998)[1]2,3,4,5,6,7[2]1,2,3,4,5,6(...
language                                                          en
Name: Molecular Cell, dtype: object

In [16]:
journal_df3.to_csv("english_journal_edited.csv",index=False)

Index(['Annals of the University of Craiova - Agriculture Montanology Cadastre Series ',
       'Austin Journal of Analytical and Pharmaceutical Chemistry',
       'Bilim scientific and pedagogical jornal',
       'International Journal of Computer Engineering Research',
       'Irrigated Agriculture', 'Medical & pharmaceutical journal Pulse',
       'Music in Society The Collection of Papers',
       'Phytomorphology Phytomorphology An International Journal of Plant Sciences',
       'Proceedings of OilGasScientificResearchProjects Institute SOCAR',
       'Radiation and Risk Bulletin of the National Radiation and Epidemiological Registry',
       ...
       'Zoophilologica', 'Zoos Print Journal', 'Zoosymposia',
       'Zoosystematica Rossica', 'Zoosystematics and Evolution', 'Zootaxa',
       'ZOOTEC', 'Zootechnical science of Belarus', 'Zygote',
       'Zywnosc Nauka Technologia Jakosc/Food Science Technology Quality'],
      dtype='object', name='JournalTitle', length=76663)

In [14]:
journal_df3.to_csv("english_journal_edited2.csv",index=False)